<div class="grid-container">
  <h1 class="mat-h1">Приклади візуалізації даних автомобільного модулю</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards; let index = index" [colspan]="card.cols" [rowspan]="card.rows">
      <app-cargo-lot-chart [title]="card.title" *ngIf="index===0">

      </app-cargo-lot-chart>

      <app-cargo-lot-chart2 [title]="card.title" *ngIf="index===1">

      </app-cargo-lot-chart2>
    </mat-grid-tile>
  </mat-grid-list>
</div>
