.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.row .item {
  margin-right: 20px;
}

.row .item:last-child {
  margin-right: 0;
}
